.HeaderNavegacion {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color:#FFB800;
}

.links {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-left: 20px;
}

.section {
  padding: 20px 100px;
}

.form {
  padding: 20px 100px;
}

.numTask {
  padding: 0px 100px;
}

.divBtn {
  display: flex;
  padding: 10px 0px;
  gap: 20px;
}

.btn {
  padding: 5px;
  width: 100px;
  cursor: pointer;
}

.nameTaskUser {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 0px;
}

.divUser {
  display: flex;
}

.nameUser {
  font-family: 'Source Sans Pro', sans-serif;
}

.parrafo {
  font-family: 'Inter', sans-serif;
}

.numTaskUser {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

.divInput {
  display: grid;
  max-width: 500px;
}

.label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding: 10px 0px;
}

.input {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

@media (max-width: 885px) {
  .section {
    padding: 20px 70px;
  }

  .numTask {
    padding: 0px 70px;
  }

  .form {
    padding: 20px 70px;
  }
}

.btnCompleted {
  padding: 10px;
  margin: 3px 0px;
  font-family: 'Inter', sans-serif;
}

.parrafoCompleted {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding: 5px 0px;
}

@media (max-width: 500px) {
  .section {
    padding: 20px 40px;
  }

  .numTask {
    padding: 0px 40px;
  }

  .form {
    padding: 20px 40px;
  }
}
