@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500&family=Source+Sans+Pro&family=Space+Grotesk&display=swap');


.conteiner {
  width: 100%;
  /* height: 100vh; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  padding-top: 20px;
}

.divInput {
  display: flex;
  flex-direction: column;
}

.label {
  padding: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.input {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  outline: none;
  width: 400px;
}

.divNavegacion {
  display: flex;
  padding: 10px; 
  background-color:#FFB800;
  align-items: center;
}


.links {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-left: 20px;
}

.btns {
  padding: 10px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 5px;
  font-family: 'Inter', sans-serif;
  width: 100px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .input {
    width: 300px;
  }
}
